<!-- header navigation -->
<div id="div_1">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <img src="../../../assets/picu-logo.png" style="height:80px;width:80px;"><b id="h2_1">PICU Drugs</b>
            <h5 id="time">{{e}}</h5>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7">
            <div class="nav">
                <ul>
                    <li routerLinkActive="active"><a routerLink="/home">Add Details</a></li>
                    <li routerLinkActive="active"><a routerLink="/common/resus_drug">Resus Drug</a></li>
                    <li routerLinkActive="active"><a routerLink="/common/intubation">Intibution</a></li>
                    <li routerLinkActive="active"><a routerLink="/common/infusion">Infusion</a></li>
                    <li routerLinkActive="active"><a routerLink="/common/fluid">Fluid</a></li>
                    <li routerLinkActive="active"><a routerLink="/common/arrythmias">Arrythmias</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--  -->

<router-outlet></router-outlet>

<br><br><br>

<!-- footer> -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 id="footer">PICU Drugs</h3>
                <h5> Resuscitation Drugs. Reference:</h5> APLS Guidelines Fourth Edition, BNFc, Guys & Lewshams, Frank Shan
            </div>
            <div class="col-lg-6">
                <h4>By:</h4>
                <h6>
                    © Sachin Gohil - Senior Pharmacist PICU<br> <br>Dr Asrar Rashid - Consultant Intensivist PICU<br> <br>PICU
                    Emergency Drugs Calculator Version Expires 01 July 2010
                </h6>
            </div>
        </div>
    </div>
</div>
<!-- footer end -->